# Utilities
tqdm
pyyaml

# Plotting
matplotlib
seaborn

# Data Science
scikit-learn
pandas
numpy
scipy==1.10.1

# PyTorch & Deep Learning
torch
pytorch-lightning
torchtext==0.6.0

# Text Processing
sentencepiece
transformers
datasets


# Neural ODEs
torchdiffeq
git+https://github.com/DiffEqML/torchdyn

# Optimal Transport
pot

# Graph Tools
graphtools

# Single-Cell and Gene Expression Analysis
magic-impute
diffxpy

# Word2Vec
gensim
